@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-image: url(../assets/img.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    transition: 0.25s ease-in-out all;
    max-width: 375px;

    .input-section{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        margin-bottom: 2rem;

        #input-place{
            background-color: transparent;
            border: 2px solid black;
            border-radius: 10px;
            flex: 1 auto;
            font-family: inherit;
            outline: none;
            padding: .5rem .5rem;

            &::placeholder{
                color: rgb(46, 46, 46);
                font-family: inherit;
                font-size: .9rem;
            }
        }

        #btn{
            background-color: transparent;
            border-radius: 50%;
            cursor: pointer;
            font-size: .8rem;
            outline: none;
            padding: .5rem .55rem;
        }
    }

    .main-info-section{
        max-width: 375px;

        .info{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .desc-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .desc-text{
                    font-weight: 600;
                }
            }
        }

        h2{
            font-family: 'Roboto Slab', serif;
            font-size: 1.325rem;
        }

        .temp{
            font-family: 'Roboto Slab', serif;
            font-size: 3rem;
        }
    }

    .addtional-info-section{
        
        span:first-of-type{
            margin-top: 1rem;
        }
    
        span{
            display: block;
            margin-bottom: .325rem;
        }

        span:last-of-type{
            margin-bottom: 0;
        }
    }
}